.video-wrapper
  %video{:loop => "", :autoplay => "", :height => "", :preload => "auto", :src => "/videos/bg.mp4", :width => ""}
    %p

.boutons
  %a.btn.btn-success{:href => "#"} Commander
  %a.btn.btn-default{:href => "#"} Connexion


.wrapp
  %p.logo BodyBox
  %h1.slogan 100% Frais 100% Français

