.video-wrapper
  %video{:loop => "", :autoplay => "", :height => "", :preload => "auto", :src => "/videos/bg.mp4", :width => ""}
    %p

.boutons
  = link_to "Commander", commande_path, :class => "btn btn-success"
  %a.btn.btn-default{:href => "#"} Connexion


.wrapp
  = image_tag("Bodybox-logo3.png", :class => "bodybox")
  %h1.slogan 100% Frais 100% Français

