.video-wrapper
  %video{:autoplay => "", :height => "", :preload => "auto", :src => "/videos/bg.mp4", :width => "100%"}
    %p
      Try this page in a modern browser! Or you can
      %a{:href => "http://www.youtube.com/demo/google_main.mp4"} download the  video
      instead.