.container
  .row.bs-wizard{:style => "border-bottom:0;"}
    .col-xs-3.bs-wizard-step{:class => get_menu_class(0,etape)}
      .text-center.bs-wizard-stepnum Choisis ta box
      .progress
        .progress-bar
      %a.bs-wizard-dot{:href => "#"}
    .col-xs-3.bs-wizard-step{:class => get_menu_class(1,etape)}
      / complete
      .text-center.bs-wizard-stepnum Dis nous ce que tu aimes
      .progress
        .progress-bar
      %a.bs-wizard-dot{:href => "#"}
    .col-xs-3.bs-wizard-step{:class => get_menu_class(2,etape)}
      / complete
      .text-center.bs-wizard-stepnum Choisis ton menu
      .progress
        .progress-bar
      %a.bs-wizard-dot{:href => "#"}
    .col-xs-3.bs-wizard-step{:class => get_menu_class(3,etape)}
      / active
      .text-center.bs-wizard-stepnum Informations de livraison
      .progress
        .progress-bar
      %a.bs-wizard-dot{:href => "#"}