.nav-green
  = image_tag("Bodybox-logo3.png", :class => "bodybox")
  %ul.list-inline.liens
    %li 
      = link_to "Accueil", root_path
    %li
      = link_to "Compose ta box", commande_path
    %li
      = link_to "Contact", root_path