.container.principal
  = render :partial => 'menu', locals: {:etape => 0}

  .row#box-select
    .col-xs-12.col-md-4.box-type{"data-size" => "250"}
      = image_tag("box.png", :class => "small-box center-block")
      .p.small-box-description
        Petite box (250g)

    .col-xs-12.col-md-4.box-type{"data-size" => "650"}
      = image_tag("box.png", :class => "medium-box center-block")
      .p.medium-box-description
        Moyenne box(650g)
    .col-xs-12.col-md-4.box-type{"data-size" => "800"}
      = image_tag("box.png", :class => "big-box center-block")
      .p.big-box-description
        Grande box(800g)
  #value-select
    %h1 Choisis ta répartition :
    %br
    .row
      .col-md-4.col-xs-12
        %h4
          Proteines :
          %span#proteines-value
            0g
      .col-md-4.col-xs-12
        %h4
          Glucides :
          %span#glucides-value
            0g
      .col-md-4.col-xs-12
        %h4
          Legumes :
          %span#legumes-value
            0g
    %br
    .progress
      .progress-bar.progress-bar-success#proteines-pb{:style => "width: 33%"}
      .progress-bar.progress-bar-warning#glucides-pb{:style => "width: 33%"}
      .progress-bar.progress-bar-info#legumes-pb{:style => "width: 34%"}
    .row
      #proteines-group
        .col-md-2.col-xs-12
          .v-center Proteines :
        .col-md-10.col-xs-12
          .slider#proteines-slider
        #show-glucides.btn.btn-default
          Valider
      #glucides-group
        .col-md-2.col-xs-12
          .v-center Glucides :
        .col-md-10.col-xs-12
          .slider#glucides-slider
        %br
        .row
          / - form_tag(controller: "commande",action: "menu", method:"post") do
          /   = hidden_field_tag("commande[proteines]")
          /   %input.btn.btn-default.btn-primary.col-sm-12.col-md-4.col-md-offset-4{:type => "submit"}
          /     Valider