.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.small-box {
  margin-top: 60px;
  height: 180px;
}

.medium-box {
  margin-top: 35px;
  height: 230px;
}

.big-box {
  height: 280px;
}

.small-box-description {
  text-align: center;
  margin-top: 60px;
  font-family: 'Oswald', sans-serif;
}

.medium-box-description {
  text-align: center;
  margin-top: 35px;
  font-family: 'Oswald', sans-serif;
}

.big-box-description {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.slider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.v-center{
  margin-top: 4px;
  text-align: right;
}

.principal {
  margin-bottom: 50px;
}

.form-meal-container {
  text-align: center;
}

.bootstrap-switch-toggle-button-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-align-center {
  text-align: center;
}

.photo-plat {
  height: 300px;
  background-size: cover;
  border-radius: 5px;
}

.photo-plat-small{
  height: 200px;
}

.nom-plat {
  text-align: center;
}

.actions-plats {
  text-align: center;
}
.actions-plats .btn{
  margin-top: 30px;
}

.ingredients {
  text-align: center;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding-bottom: 1px;
  padding-top: 6px;
  display: none;
}

.plat{
  box-shadow: 2px 2px 3px #AAAAAA;
  border-radius: 5px;
  margin-top: 10px;
}

.plat-container{
  margin: 5px;
}

.prix{
  padding-bottom: 3px;
  background-color: rgba(0,0,0,.05)
}

#map{
  margin: auto;
}

#map-cont{
  margin:auto;
}